@font-face {
    font-family: Proxima Nova;
    src: url("assets/fonts/proximanova_regular.ttf");
}

* { 
    margin: 0;
    padding: 0;
    font-family: Proxima Nova;
}

html, body {
    height: auto;
    overflow-y: auto;
    background-color: #121212;
}

/* Se aplica CSS para el componente header además de sus elementos hijos*/
#header {
    width: 100%;
    height: 10%;

    display: flex;
}

#header h1 {
    padding: 0;

    width: 25%;
    height: 20%;
    
    margin: 1% 0 1% 1%;

    color:  #9a9b9c;

}

#header .left, .right {
    color:#008B8B;
}

#header ul {
    padding: 0;
    margin: 0;

    width: 45%;
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-left: 45%;
}

#header ul > li {
    width: 20%;
    height: 25%;

    margin-top: 5%;
}

#header ul > li > a {
    height: 100%;

    align-content: center;
    text-align: center;

    display: block;
    text-decoration: none;
    
    color: #9a9b9c;
    font-size: 100%;
}

#header ul > li:hover {
    background-color:  #525252;
    border-radius: 10px;
    
}

#header ul > .colm {
    width: 0.1%;
    height: 25%;

    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #9a9b9c;
}

/* Div settings */
#info {
    min-height: 100%;
    color: #9a9b9c;
    padding-bottom: 1%;
}

#info h1, h2, p {
    margin: 1% 0 1% 1%;
}

#info p {
    font-size: 1.15rem;
}

#info ul {
    font-size: 1.15rem;
    margin: 0 3% 1% 5%;
}

#info ul > li {
    margin-bottom: 1%;
    text-align: justify;
}

#info table {
    margin: 1% 0 1% 3%;
    font-size: 1.15rem;

    width: 70%;
    height: 100%;
}

#info table  td {
    padding: 1%;
    text-align: justify;
}

.formAcad {
    width: 100%;
    height: 100%;
    
}

.formAcad #univ, #cole {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1% 1%;
}

#info .formAcad #univ > div {
    width: 50%;
    height: 100%;
    text-align: justify;
}

#info .formAcad #univ > div h2,
#info .formAcad #univ > div h3 {
    margin: 1% 0 1% 5%;
}

#info .formAcad #cole > div {
    width: 50%;
    height: 100%;
    text-align: justify;
}

#info .formAcad #cole > div h2,
#info .formAcad #cole > div h3 {
    margin: 1% 0 1% 5%;
}

